{{ define "main" }}
  <main class="py-5">
    <div class="container mb-5">
      <h1 class="text-center supa-mega-fantastic-caps display-1 mb-4">{{ .Page.Title }}</h1>
      <div class="row justify-content-center fs-5 gx-5 mt-5">
        <div class="col-lg-8 col-xl-6 mx-auto">
          <form name="catering" action="/events-success" method="POST" data-netlify="true">
            <input type="hidden" name="subject" data-remove-prefix value="Catering form inquiry from thecupcakerie.com" />
            <div class="mb-3">
              <label for="nameInput" class="form-label">Name <span class="text-danger"><sup>*</sup></span></label>
              <input name="name" type="text" class="form-control" id="nameInput" required>
            </div>
            <div class="mb-3">
              <label for="phoneInput" class="form-label">Phone <span class="text-danger"><sup>*</sup></span></label>
              <input name="phone" type="tel" class="form-control" id="phoneInput" required>
            </div>
            <div class="mb-3">
              <label for="emailInput" class="form-label">Email Address <span class="text-danger"><sup>*</sup></span></label>
              <input name="email" type="email" class="form-control" id="emailInput" required>
            </div>
            <div class="mb-3">
              <label for="headcountInput" class="form-label">Number of People <span class="text-danger"><sup>*</sup></span></label>
              <input name="headcount" type="text" class="form-control" id="headcountInput" required>
            </div>
            <div class="mb-3">
              <label for="dateInput" class="form-label">Date <span class="text-danger"><sup>*</sup></span></label>
              <input name="date" type="text" class="form-control" id="dateInput" required>
            </div>
            <div class="mb-3">
              <label for="timeInput" class="form-label">Start Time <span class="text-danger"><sup>*</sup></span></label>
              <input name="time" type="text" class="form-control" id="timeInput" required>
            </div>
            <div class="mb-3">
              <label for="occasionInput" class="form-label">Occasion <span class="text-danger"><sup>*</sup></span></label>
              <input name="occasion" type="text" class="form-control" id="occasionInput" required>
            </div>
            <div class="mb-3">
              <label for="budgetInput" class="form-label">Budget Per Person</label>
              <input name="budget-per-person" type="text" class="form-control" id="budgetInput">
            </div>
            <div class="mb-3">
              <label for="requestsInput" class="form-label">Description / Requests</label>
              <textarea name="requests" class="form-control" id="requestsInput" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-dark mb-3">Submit</button>
            <p class="mt-5"><span class="text-danger"><sup>*</sup></span> Required</p>
          </form>
        </div>
      </div>
    </div>
  </main>
{{ end }}