.cc-pattern {
  position: relative;
  &:before {
    background-color: $cc-accent--pink;
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    mask-size: 700px;
    mask-position: left -175px top 30px;
    mask-image: url('/img/food-pattern.svg');
    -webkit-mask-size: 700px;
    -webkit-mask-position: center;
    -webkit-mask-image: url('/img/food-pattern.svg');
  }
  &.cc-pattern-accent--manhattan {
    &:before {
      background-color: $cc-accent--manhattan;
    }
  }
  &.cc-pattern-accent--frose {
    &:before {
      background-color: $cc-accent--frose;
    }
  }
  &.cc-pattern-neutral--vino {
    &:before {
      background-color: $cc-neutral--vino;
    }
  }
  &.cc-pattern-tint {
    &:before {
      opacity: 50%;
    }
  }
}

.cc-stripes {
  position: relative;
  &:before {
    background-color: $black;
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    mask-size: 2rem;
    mask-image: url('/img/diagonal-stripes.svg');
    -webkit-mask-size: 2rem;
    -webkit-mask-position: center;
    -webkit-mask-image: url('/img/diagonal-stripes.svg');
  }
  &.cc-stripes-accent--pink {
    &:before {
      background-color: $cc-accent--pink;
    }
  }
  &.cc-stripes-neutral--vino {
    &:before {
      background-color: $cc-neutral--vino;
    }
  }
  &.cc-stripes-neutral--mocha {
    &:before {
      background-color: $cc-neutral--mocha;
    }
  }
  &.cc-stripes-accent--frose {
    &:before {
      background-color: $cc-accent--frose;
    }
  }
  &.cc-stripes-tint {
    &:before {
      opacity: 30%;
    }
  }
}