// @font-face {
// 	font-family: 'Bosten-Regular';
// 	src: url('/fonts/bosten/bosten-regular.eot');
// 	src: url('/fonts/bosten/bosten-regular.eot?#iefix') format('embedded-opentype'),
//              url('/fonts/bosten/bosten-regular.woff2') format('woff2'),
// 	     url('/fonts/bosten/bosten-regular.woff') format('woff'),
// 	     url('/fonts/bosten/bosten-regular.ttf') format('truetype'),
// 	     url('/fonts/bosten/bosten-regular.svg#youworkforthem') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

@font-face {
	font-family: 'ASFALLT-Sans-Regular';
	src: url('/fonts/Asfallt-Sans-Type/asfallt-sans-regular-webfont.woff2');
	src: url('/fonts/Asfallt-Sans-Type/asfallt-sans-regular-webfont.woff2') format('woff2'),
	     url('/fonts/Asfallt-Sans-Type/asfallt-sans-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SupaMegaFantasticCaps';
	src: url('/fonts/Supa-Mega-Fantastic-Font-Duo/supamegafantasticcaps-webfont.woff2');
	src: url('/fonts/Supa-Mega-Fantastic-Font-Duo/supamegafantasticcaps-webfont.woff2') format('woff2'),
	     url('/fonts/Supa-Mega-Fantastic-Font-Duo/supamegafantasticcaps-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SupaMegaFantasticScript';
	src: url('/fonts/Supa-Mega-Fantastic-Font-Duo/supamegafantasticscript-webfont.woff2');
	src: url('/fonts/Supa-Mega-Fantastic-Font-Duo/supamegafantasticscript-webfont.woff2') format('woff2'),
	     url('/fonts/Supa-Mega-Fantastic-Font-Duo/supamegafantasticscript-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.asfallt-regular {
  font-family: $asfallt-regular !important;
}

.supa-mega-fantastic-caps {
  font-family: $supa-mega-fantastic-caps !important;
}

.supa-mega-fantastic-script {
  font-family: $supa-mega-fantastic-script !important;
}

.ledger-regular {
  font-family: "Ledger", serif;
  font-weight: 400;
  font-style: normal;
}