.highlighter {
  position: relative;
  z-index: 0;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
    margin-left: -20%;
    margin-right: -20%;
    margin-top: -30%;
    margin-bottom: -30%;
    z-index: -1;
  }
  &.highlighter-underline {
    &:before {
      top: auto;
    }
  }
}

$i: 1;
@while $i < 17 {
  .highlighter-#{$i} {
    &:before {
      mask-image: url('/img/highlighter-#{$i}.png');
      -webkit-mask-image: url('/img/highlighter-#{$i}.png');
    }
  }
  $i: $i + 1;
}

.highlighter-pink {
  &:before {
    background-color: $cc-accent--pink;
  }
}

.highlighter-transparent {
  &:before {
    opacity: .8;
  }
}

#drink-tabs .active, #food-tabs .active {
  background-color: $cc-neutral--dark-chocolate !important;
  color: $cc-white-chocolate !important;
}

// #drink-tabs .active, #food-tabs .active {
//   background-color: transparent;
//   color: $cc-white-chocolate !important;
//   position: relative;
//   z-index: 0;
//   &:before {
//     background-color: $cc-accent--pink;
//     content: '';
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     z-index: -1;
//     mask-repeat: no-repeat;
//     -webkit-mask-repeat: no-repeat;
//     mask-size: 100% 100%;
//     -webkit-mask-size: 100% 100%;
//     margin-left: -1rem;
//     margin-right: -1rem;
//     margin-top: -1rem;
//     margin-bottom: -1rem;
//     z-index: -1;
//     mask-image: url('/img/highlighter-3.png');
//     -webkit-mask-image: url('/img/highlighter-3.png');
//   }
// }