.cc-logo-switch {
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  height: 75px;
  width: 149px;
  margin-top: -5px;
}

.home .navbar:before {
  background-color: $cc-strawberry;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-100%);
  transition: all .3s;
  z-index: -1;
}

.home .navbar:not(.navbar-dark):before {
  transform: translateY(0);
  border-bottom: 2px solid $cc-accent--gold;
  .navbar-collapse .nav-link {
    color: $dark !important;
  }
}

.home .navbar-dark a {
  color: white !important;
}

.home .navbar:not(.navbar-dark) {
  .navbar-collapse a {
    color: $dark !important;
  }
}

.home .navbar .navbar-collapse.collapsing, .home .navbar .navbar-collapse.show {
  padding: 0.75rem !important;
}

.home .navbar.navbar-dark .navbar-collapse.collapsing, .home .navbar.navbar-dark .navbar-collapse.show {
  background-color: $dark !important;
}

.home .navbar .navbar-nav .nav-link {
  transition: color .1s;
}

.navbar:not(.navbar-dark) .navbar-toggler, .home .navbar:not(.navbar-dark) .navbar-toggler {
  border-color: $dark !important;
  color: $dark !important;
}

.home .navbar .navbar-toggler {
  border-color: white !important;
  color: white !important;
}

.navbar.navbar-dark .cc-logo-switch {
  background-image: url(/cupcakerie-logo-white.svg)
}

.navbar:not(.navbar-dark) .cc-logo-switch {
  background-image: url(/cupcakerie-logo.svg);
  height: 54px;
  width: 107px;
}

.navbar.shrink-nav .cc-logo {
  height: 54px;
  width: 107px;
}