.pattern-1 {
  background-image: url("/img/pattern-1.svg");
  background-position: center;
  background-size: 1200px;
}

.pattern-2 {
  background-image: url("/img/pattern-2.svg");
  background-position: center;
  background-size: 1200px;
}

.pattern-3 {
  background-image: url("/img/pattern-3.svg");
  background-position: center;
  background-size: 1200px;
}