.cc-text-vertical {
  writing-mode: vertical-lr !important;
  transform: rotate(180deg) !important;
}

@include media-breakpoint-up(xl) {
  .cc-text-xl-vertical {
    writing-mode: vertical-lr !important;
    transform: rotate(180deg) !important;
  }
}

.cc-text-letter-spacing-2 {
  letter-spacing: 2px !important;
}