{{ $image := "" }}
{{ with site.Data.about }}
  <main class="py-5">
    <div class="container my-5">
      <h1 class="text-center flapjack-regular display-1 mb-4">{{ .title }}</h1>
      <div class="row align-items-center">        
        {{ if .featured_image }}
          <div class="col-xl-4">
            {{ $image = .featured_image }}
            <img src='{{ ( $image.Fit "960x640 webp Center" ).RelPermalink }}' alt="" />
          </div>
        {{ end }}
        <div class="col-xl-8">
          {{ if .content }}
            {{ .content }}
          {{ end }}
        </div>
      </div>
    </div>
  </main>
{{ end }}