{{ $image := "" }}
{{ with site.Data.homepage.brands }}
<section class="py-5" aria-labelledby="brands-label">
  <div class="container mb-5 text-center">
    <div class="row">
      <div class="col-xl-8 text-center mx-auto">
        <h2 id="brands-label" class="display-3 text-cc-accent--frose supa-mega-fantastic-script">{{ .title }}</h2>
        <p class="supa-mega-fantastic-caps display-5 lh-1">{{ .subhead }}</p>
      </div>
    </div>
    
    <div class="row justify-content-center">
      {{ range .logos }}
        {{ $image = resources.Get .logo }}
        <div class="col-sm-6 col-md-4 col-lg-2 d-flex align-items-center justify-content-center">
          <a title="{{ .title }} Logo" href="{{ .url }}" class="d-block p-4">
            <img class="img-fluid" src='{{ ( $image.Fit "200x200 webp Center" ).RelPermalink }}' alt="{{ .title }} logo" />
          </a>
        </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}