{{ with site.Data.catering }}
  {{ $hotDrinks := .hotDrinks }}
  {{ $coldDrinks := .coldDrinks }}
  <main class="py-5">
    <div class="container my-5">
      <h1 class="text-center flapjack-regular display-1 mb-4">Drinks</h1>
      <ul id="drink-tabs" role="tablist" class="nav nav-pills justify-content-center mb-5">
        <li class="nav-item">
          <button id="drinks-tab" data-bs-toggle="tab" data-bs-target="#drinks" class="nav-link text-dark active fs-3" type="button" role="tab" aria-controls="profile" aria-selected="true">Drinks</button>
        </li>
        <li class="nav-item">
          <button id="wines-tab" data-bs-toggle="tab" data-bs-target="#wines" class="nav-link text-dark fs-3" type="button" role="tab" aria-controls="profile" aria-selected="false">Wines by the Glass</button>
        </li>
      </ul>
      <div class="tab-content" id="drink-content">
        <div class="tab-pane fade show active" id="drinks" role="tabpanel" aria-labelledby="drinks-tab">
          <div class="row mb-5">
            <div class="col-xl-6 mx-xl-auto">
              <p>{{ .drinksDescription }}</p>
            </div>
          </div>
          <div class="row gx-xl-5">
            <div class="col-xl-6">
              <h2 class="monograph-text-bold">Hot Drinks</h2>
              <ul class="list-unstyled monograph-text-bold">
                {{ range $hotDrinks }}
                  <li class="py-4 border-top border-2 border-dark">
                    <div class="row">
                      <div class="col-6 flapjack-regular fs-4 lh-1">
                        {{ .title }}
                      </div>
                      <div class="col-6 d-flex justify-content-end">
                        <ul class="list-unstyled">
                          {{ range .sizeAndPrice }}
                            <li>                        
                              ${{ .price }} / {{ .size }}
                            </li>
                          {{ end }}
                        </ul>
                      </div>
                    </div>
                  </li>
                {{ end }}
              </ul>
            </div>
            <div class="col-xl-6">
              <h2 class="monograph-text-bold">Cold Drinks</h2>
              <ul class="list-unstyled monograph-text-bold">
                {{ range $hotDrinks }}
                  <li class="py-4 border-top border-2 border-dark">
                    <div class="row">
                      <div class="col-6 flapjack-regular fs-4 lh-1">
                        {{ .title }}
                      </div>
                      <div class="col-6 d-flex justify-content-end">
                        <ul class="list-unstyled">
                          {{ range .sizeAndPrice }}
                            <li>                        
                              ${{ .price }} / {{ .size }}
                            </li>
                          {{ end }}
                        </ul>
                      </div>
                    </div>
                  </li>
                {{ end }}
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="wines" role="tabpanel" aria-labelledby="wines-tab">
          <div class="row mb-5">
            <div class="col-xl-6 mx-xl-auto">
              <p>{{ .winesByTheGlassDescription }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6">
              <h2 class="monograph-text-bold">Sparkling</h2>
              <ul class="list-unstyled monograph-text-bold">
                {{ range $hotDrinks }}
                  <li class="py-4 border-top border-2 border-dark">
                    <div class="row">
                      <div class="col-6 flapjack-regular fs-4 lh-1">
                        {{ .title }}
                      </div>
                      <div class="col-6">
                        <ul class="list-unstyled">
                          {{ range .sizeAndPrice }}
                            <li>                        
                              ${{ .price }} / {{ .size }}
                            </li>
                          {{ end }}
                        </ul>
                      </div>
                    </div>
                  </li>
                {{ end }}
              </ul>
            </div>
            <div class="col-xl-6">
              <h2 class="monograph-text-bold">White</h2>
              <ul class="list-unstyled monograph-text-bold">
                {{ range $hotDrinks }}
                  <li class="py-4 border-top border-2 border-dark">
                    <div class="row">
                      <div class="col-6 flapjack-regular fs-4 lh-1">
                        {{ .title }}
                      </div>
                      <div class="col-6">
                        <ul class="list-unstyled">
                          {{ range .sizeAndPrice }}
                            <li>                        
                              ${{ .price }} / {{ .size }}
                            </li>
                          {{ end }}
                        </ul>
                      </div>
                    </div>
                  </li>
                {{ end }}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{{ end }}