{{ $itemCount := 0 }}
{{ $ratio := "" }}
{{ $labelCols := "col-xl-1" }}
{{ with site.Data.food.menus }}
  {{ range . }}
    {{ range .menu_sections }}
      {{ range .items }}
        {{ if eq .feature true }}
          {{ $itemCount := add $itemCount 1 }}
          {{ if eq $itemCount 1 }}
            {{ $labelCols = "col-xl-9" }}
          {{ else if eq $itemCount 2 }}
            {{ $labelCols = "col-xl-6" }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
  <section class="bg-cc-neutral--dark-chocolate text-white">
    <div class="container-fluid px-0 mx-0">
      <div class="row gx-0 px-0 mx-0">
        <div class="{{ $labelCols }} mx-0 px-0 position-relative" style="z-index: 1;">
          <h2 class="cc-text-vertical py-4 px-2 text-end ms-xl-auto mt-5 ms-5 me-xl-n4 bg-cc-neutral--dark-chocolate">Featured Dishes</h2>
        </div>
        {{ range . }}
          {{ range .menu_sections }}
            {{ range .items }}
              {{ if eq .feature true }}
                {{ $image := resources.Get .photo }}
                <div class="col-xl mx-0 px-0">
                  <div class="ratio ratio-1x1" style="background-image: url('{{ ( $image.Fill "960x960 Center" ).RelPermalink }}'); background-size: cover;">
                    <div class="d-flex justify-content-end">
                      <div>
                        <div class="bg-cc-accent--momosa text-dark p-4 me-5 mt-5">
                          <h3 class="flapjack-regular d-inline-block">{{ .title }}</h3>
                          <p class="mb-0">{{ .description }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}