{{ $itemCount := 0 }}
{{ $ratio := "" }}
{{ $labelCols := "col" }}
{{ with site.Data.food.menus }}
  {{ range . }}
    {{ range .menu_sections }}
      {{ range .items }}
        {{ if eq .feature true }}
          {{ $itemCount = add $itemCount 1 }}
          {{ if eq $itemCount 1 }}
            {{ $labelCols = "col-xl-9" }}
          {{ else if eq $itemCount 2 }}
            {{ $labelCols = "col-12 col-lg-1 col-xxl-6" }}
          {{ else if eq $itemCount 3 }}
            {{ $labelCols = "col-md-4" }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
  <section aria-labelledby="featured-dishes-label">
    <div class="container-fluid mx-0 px-0">
      <div class="row gx-0 px-0 mx-0">
        <div class="col-xl-1 mx-0 px-0 position-relative bg-cc-accent--mojito" style="z-index: 1;">
          <h2 id="featured-dishes-label" class="cc-text-xl-vertical py-4 px-2 text-end ms-xl-auto mt-4">Featured Dishes</h2>
        </div>
        <div class="col-xl-11">
          <div class="row mx-0 px-0">
            {{ $itemCount = 0 }}
            {{ $filters := slice
              (images.Contrast 20)
              (images.Saturation 50)
            }}
            {{ range . }}
              {{ range .menu_sections }}
                {{ range .items }}
                  {{ if and (eq .feature true) (.photo) }}
                    {{ $itemCount = add $itemCount 1 }}
                    {{ if lt $itemCount 4 }}
                      {{ $image := resources.Get .photo }}
                      <div class="{{ $labelCols }} mx-0 px-0">
                        <div class="ratio ratio-1x1" style="background-image: url('{{ ( $image.Fill "960x960 webp Center" ).RelPermalink }}'); background-size: cover;">
                          <div class="d-flex justify-content-end">
                            <div>
                              <div class="bg-cc-accent--momosa text-dark p-3 ms-5 mt-4">
                                <h3 class="flapjack-regular d-inline-block lh-1 mb-1 fs-4">{{ .title }}</h3>
                                {{ if .description }}
                                  <p class="mb-0 lh-1">{{ .description }}</p>
                                {{ end }}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    {{ end }}
                  {{ end }}
                {{ end }}
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}