{{ $menuName := "" }}
{{ $imageHeight := "" }}
{{ $imageWidth := "" }}
{{ $imageRatio := "" }}

{{ if eq .title "Menu" }}
  {{ with .message }}
    <div class="row mb-5">
      <div class="col-xl-8 mx-xl-auto">
        <div class="stair-deco-container container text-center">
          <div class="stair-deco-content">
            <p class="mb-0 p-3">{{ . | markdownify }}</p>
          </div>
          <div class="stair-deco-outer-left"></div>
          <div class="stair-deco-outer-right"></div>
          <div class="stair-deco-mid-left"></div>
          <div class="stair-deco-mid-right"></div>
          <div class="stair-deco-mid-top"></div>
          <div class="stair-deco-mid-bottom"></div>
          <div class="stair-deco-inner-top"></div>
          <div class="stair-deco-inner-bottom"></div>
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}

<ul id="food-tabs" role="tablist" class="py-4 cc-stripes cc-stripes-accent--gold cc-stripes-tint nav nav-pills justify-content-center mb-5 d-block d-lg-flex">
  {{ range $index, $element := .menus }}
    {{ $menuName = .menu_name | urlize }}
    <!-- need to add active class and aria role to first item -->
    <li class="nav-item">
      <button id="{{ $menuName }}-tab" data-bs-toggle="tab" data-bs-target="#{{ $menuName }}" class="w-100 position-relative rounded-0 nav-link bg-cc-strawberry text-dark fs-3 {{ if (eq $index 0) }}active{{ end }}" type="button" role="tab" aria-controls="{{ $menuName }}" aria-selected="{{ if (eq $index 0) }}true{{ else }}false{{ end }}">{{ .menu_name }}</button>
    </li>
  {{ end }}
</ul>

<div class="pb-5">
  <div class="tab-content">
    {{ range $i, $e := .menus }}
      {{ $menuName = $e.menu_name | urlize }}
      <div class="tab-pane fade {{ if (eq $i 0) }}show active{{ end }}" id="{{ $menuName }}" role="tabpanel" aria-labelledby="{{ $menuName }}-tab">
        {{ if eq .show_legend true }}
          <div class="d-flex w-100 justify-content-center">
            <ul class="d-inline-block list-inline mx-auto mb-5">
              <li class="list-inline-item"><strong>(GF)</strong> Gluten Free</li>
              <li class="list-inline-item"><strong>(V)</strong> Vegetarian</li>
              <li class="list-inline-item"><strong>(VE)</strong> Vegan</li>
            </ul>
          </div>
        {{ end }}
        <div class="row gx-xl-4 food-content position-relative w-100">
          {{ range .menu_sections }}      
            <div class="col-xl-6 menu-section mb-4">
              <div class="triple-deco-container">
                <div class="triple-deco-content p-5">
                  {{ if .title }}
                    <h2 class="monograph-text-bold">{{ .title }}</h2>
                  {{ end }}
                  {{ if .description }}
                    <p>{{ .description }}</p>
                  {{ end }}
                  <ul class="list-unstyled">
                    {{ range .items }}
                      {{ $image := resources.Get .photo }}
                      {{ with resources.Get $image }}
                        {{ $imageHeight = float .Height }}
                        {{ $imageWidth = float .Width }}
                        {{ $imageRatio = div $imageHeight $imageWidth }}
                        {{ $imageRatio = mul $imageRatio 100 }}
                      {{ end }}
                      <li class="py-4 border-top border-1 border-cc-accent--gold">
                        <div class="row gx-2">
                          <div class="col-8">
                            <div class="row">
                              {{ if $image }}
                                <div class="col-6">
                                  <div class="position-relative mb-2 ratio" style="--bs-aspect-ratio: {{ $imageRatio }}%">
                                    <img loading="lazy" class="w-100" src='{{ ( $image.Fit "960x640 Center" ).RelPermalink }}' alt="Photo of {{ .title }}" />
                                  </div>
                                </div>
                              {{ end }}
                              <div class="col">
                                <h3 class="h4 flapjack-regular lh-1 mb-0">{{ .title }}</h3>
                                <p class="mb-0 mt-2">
                                  {{ if .description }}
                                    {{ .description }}
                                  {{ end }}
                                  {{ if .designation }}
                                    {{ range .designation }}
                                      <strong>({{ . }})</strong>
                                    {{ end }}
                                  {{ end }}
                                  {{ if .note }}
                                    <p class="text-cc-accent--pink monograph-text-bold mt-2 small">{{ .note }}</p>
                                  {{ end }}
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-4 text-end">
                            <ul class="list-unstyled monograph-text-bold mb-0">
                              {{ range .options }}
                                {{ $price := .price | urlize }}
                                <li>
                                  {{ if .quantity }}{{ .quantity }} for {{ end }}
                                  {{ if ne $price "mp" }}${{ end }}{{ .price }}
                                  {{ if .size }}
                                    / {{ .size }}
                                  {{ else if .option }}
                                    / {{ .option }}
                                  {{ end }}
                                </li>
                              {{ end }}
                            </ul>
                          </div>
                        </div>
                      </li>
                    {{ end }}
                  </ul>
                  {{ if .postscript }}
                    {{ range .postscript }}
                      {{ .line }}<br>
                    {{ end }}
                  {{ end }}
                </div>
                <div class="triple-deco-tall"></div>
                <div class="triple-deco-mid"></div>
                <div class="triple-deco-wide"></div>
              </div>
            </div>
          {{ end }}
          {{ if .postscript }}
            <div class="col-12 menu-section text-center mt-5">
              {{ range .postscript }}
                <p>
                  {{ .line }}<br>
                </p>
              {{ end }}
            </div>
          {{ end }}
        </div>
      </div>
    {{ end }}
  </div>
</div>