{{ with site.Data.food }}
  {{ $breakfastSandwiches := .breakfastSandwiches }}
  <main class="py-5">
    <div class="container">
      <h1 class="text-center flapjack-regular display-1 mb-4 mt-5">Food</h1>
      <ul id="food-tabs" role="tablist" class="nav nav-pills justify-content-center mb-5">
        <li class="nav-item">
          <button id="breakfast-tab" data-bs-toggle="tab" data-bs-target="#breakfast" class="nav-link text-dark active fs-3" type="button" role="tab" aria-controls="profile" aria-selected="true">Breakfast</button>
        </li>
        <li class="nav-item">
          <button id="lunch-tab" data-bs-toggle="tab" data-bs-target="#lunch" class="nav-link text-dark fs-3" type="button" role="tab" aria-controls="profile" aria-selected="false">Lunch</button>
        </li>
        <li class="nav-item">
          <button id="charcuterie-boards-tab" data-bs-toggle="tab" data-bs-target="#charcuterie-boards" class="nav-link text-dark fs-3" type="button" role="tab" aria-controls="profile" aria-selected="false">Charcuterie Boards</button>
        </li>
      </ul>
      <div class="d-flex justify-content-center">
        <ul class="d-inline-block list-inline mx-auto mb-5">
          <li class="list-inline-item"><strong>GF</strong> Gluten Free</li>
          <li class="list-inline-item"><strong>V</strong> Vegetarian</li>
          <li class="list-inline-item"><strong>VE</strong> Vegan</li>
        </ul>
      </div>
      <div class="tab-content" id="food-content">
        <div class="tab-pane fade show active" id="breakfast" role="tabpanel" aria-labelledby="drinks-tab">
          <div class="row">
            <div class="col-xl-6">
              <h2 class="monograph-text-bold">{{ $breakfastSandwiches.title }}</h2>
              <p>{{ $breakfastSandwiches.description }}</p>
              <ul class="list-unstyled">
                {{ range $breakfastSandwiches.breakfastSandwiches }}
                  {{ $image := resources.Get .photo }}
                  <li class="py-4 border-top border-2 border-dark">
                    <div class="row">
                      <div class="col-8">
                        <div class="row">
                          {{ if $image }}
                            <div class="col-6">
                              <img class="w-100" src='{{ ( $image.Fill "960x640 Center" ).RelPermalink }}' alt="Photo of {{ .title }}" />
                            </div>
                          {{ end }}
                          <div class="col">
                            <h3 class="h4 flapjack-regular lh-1">{{ .title }}</h3>
                            <ul>
                              {{ range .designation }}
                                <li>{{ . }}</li>
                              {{ end }}
                            </ul>
                            <p class="mb-0">{{ .description }}</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-4 text-end">
                        <ul class="list-unstyled monograph-text-bold">
                          <li>                        
                            ${{ .price }}
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                {{ end }}
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="lunch" role="tabpanel" aria-labelledby="lunch-tab">
          Lunch
        </div>
        <div class="tab-pane fade" id="charcuterie-boards" role="tabpanel" aria-labelledby="charcuterie-boards-tab">
          Charcuterie Boards
        </div>
      </div>
    </div>
  </main>
{{ end }}