<footer class="pb-5 bg-dark text-white">
  <div class="cc-pattern cc-pattern-tint cc-pattern-accent--gold py-5">
    <div class="py-5"></div>
  </div>
  <div class="container position-relative py-5">
    <div class="row">
      <div class="col-xl-3 mb-5 mb-xl-0">
        <img loading="lazy" src="/cupcakerie-placeholder.svg" class="mb-4" alt="The Cupcakerie Logo (light color version)" />
        <p>Copyright &copy; The Cupcakerie {{ now.Year }}. All rights reserved.</p>
      </div>
      <div class="col-xl-7 ms-auto">
        <div class="row">
          <div class="col-xl mb-5 mb-xl-0">
            <h3 class="flapjack-regular">Contact</h3>
            <address class="ms-4 position-relative mb-2">
              <span class="fas fa-map-marker-alt text-dark position-absolute ms-n4"></span>
              
                <span class="d-block">3200 Collins Ferry Road</span>
              
                <span class="d-block">Morgantown, WV 26505</span>
              
            </address>
            <ul class="list-unstyled">
              <li class="ms-4 mb-2"><span class="fas fa-phone text-dark position-absolute ms-n4"></span> <a class="text-dark" href="tel:3042125464">(304) 212-5464</a></li>
              <li class="ms-4"><span class="fas fa-envelope text-dark position-absolute ms-n4"></span> <a class="text-dark" href="mailto:orders@thecupcakerie.com">orders@thecupcakerie.com</a></li>
            </ul>
          </div>
          <div class="col-xl mb-5 mb-xl-0 d-flex justify-content-center">
            <div>
              <h3 class="flapjack-regular">Menu</h3>
              <ul class="list-unstyled">
                <li><a class="text-dark text-decoration-none" href="#">Home</a></li>
                <li><a class="text-dark text-decoration-none" href="#">Menu</a></li>
                <li><a class="text-dark text-decoration-none" href="#">Drinks</a></li>
                <li><a class="text-dark text-decoration-none" href="#">Catering</a></li>
                <li><a class="text-dark text-decoration-none" href="#">Parties</a></li>
                <li><a class="text-dark text-decoration-none" href="#">Order</a></li>
                <li><a class="text-dark text-decoration-none" href="#">About</a></li>
                <li><a class="text-dark text-decoration-none" href="#">Blog</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl mb-5 mb-xl-0">
            <h3 class="flapjack-regular">Follow Us</h3>
            <ul class="list-unstyled">
              <li><a class="text-dark text-decoration-none" href="#"><span class="fab fa-facebook"></span> Facebook</a></li>
              <li><a class="text-dark text-decoration-none" href="#"><span class="fab fa-instagram"></span> Instagram</a></li>
              <li><a class="text-dark text-decoration-none" href="#"><span class="fab fa-tiktok"></span> TikTok</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

