<footer class="py-5 bg-cc-accent--pink text-white cc-pattern cc-pattern-tint cc-pattern-accent--frose">
  <div class="container position-relative py-5">
    <div class="row">
      <div class="col-xl-3 mb-5 mb-xl-0">
        <div class="ratio ratio-21x9 bg-light mb-4">Logo</div>
        <p>Copyright &copy; The Cupcakerie {{ now.Year }}. All rights reserved.</p>
      </div>
      <div class="col-xl-2 mb-5 mb-xl-0">
        <h3 class="flapjack-regular">Contact</h3>
        <ul class="list-unstyled">
          <li><a class="text-white text-decoration-none" href="#"><span class="fas fa-phone"></span> Phone</a></li>
          <li><a class="text-white text-decoration-none" href="#"><span class="fas fa-envelope"></span> Email</a></li>
        </ul>
      </div>
      <div class="col-xl-2 mb-5 mb-xl-0">
        <h3 class="flapjack-regular">Menu</h3>
        <ul class="list-unstyled">
          <li><a class="text-white text-decoration-none" href="#">Home</a></li>
          <li><a class="text-white text-decoration-none" href="#">Menu</a></li>
          <li><a class="text-white text-decoration-none" href="#">Drinks</a></li>
          <li><a class="text-white text-decoration-none" href="#">Catering</a></li>
          <li><a class="text-white text-decoration-none" href="#">Parties</a></li>
          <li><a class="text-white text-decoration-none" href="#">Order</a></li>
          <li><a class="text-white text-decoration-none" href="#">About</a></li>
          <li><a class="text-white text-decoration-none" href="#">Blog</a></li>
        </ul>
      </div>
      <div class="col-xl-2 mb-5 mb-xl-0">
        <h3 class="flapjack-regular">Follow Us</h3>
        <ul class="list-unstyled">
          <li><a class="text-white text-decoration-none" href="#"><span class="fab fa-facebook"></span> Facebook</a></li>
          <li><a class="text-white text-decoration-none" href="#"><span class="fab fa-instagram"></span> Instagram</a></li>
          <li><a class="text-white text-decoration-none" href="#"><span class="fab fa-tiktok"></span> TikTok</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

