{{ $image := "" }}
{{ with site.Data.frose }}
  <main class="py-5">
    <div class="container mb-5">
      <h1 class="text-center flapjack-regular display-1 mb-4">{{ .title }}</h1>
      <div class="row justify-content-center fs-5 gx-5 mt-5">        
        {{ if .featured_image }}
          <div class="col-lg-6 mb-5 mb-lg-0">
            {{ $image = resources.Get .featured_image }}
            <img class="img-fluid" src='{{ ( $image.Fit "960x640 webp Center" ).RelPermalink }}' alt="" />
          </div>
        {{ end }}
        <div class="col-lg-6">
          {{ if .content }}
            {{ .content | markdownify }}
          {{ end }}
        </div>
      </div>
    </div>
  </main>
{{ end }}