<meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

{{ if eq .Title "Posts" }}
  {{ with site.Data.blog }}
    {{ partial "head/social-meta-tags.html" . }}
  {{ end }}
{{ else if eq .Params.Title "Home" }}
  {{ with site.Data.homepage }}
    {{ partial "head/social-meta-tags.html" . }}
  {{ end }}
{{ else if eq .Params.Title "Menu" }}
  {{ with site.Data.food }}
    {{ partial "head/social-meta-tags.html" . }}
  {{ end }}
{{ else if eq .Params.Title "Drinks" }}
  {{ with site.Data.drinks }}
    {{ partial "head/social-meta-tags.html" . }}
  {{ end }}
{{ else if eq .Params.Title "Catering" }}
  {{ with site.Data.catering }}
    {{ partial "head/social-meta-tags.html" . }}
  {{ end }}
{{ else if eq .Params.Title "Private Events" }}
  {{ with site.Data.private_events }}
    {{ partial "head/social-meta-tags.html" . }}
  {{ end }}
{{ else if eq .Params.Title "Order" }}
  {{ with site.Data.order }}
    {{ partial "head/social-meta-tags.html" . }}
  {{ end }}
{{ else if eq .Params.Title "About" }}
  {{ with site.Data.about }}
    {{ partial "head/social-meta-tags.html" . }}
  {{ end }}
{{ else if eq .Params.Title "Frosé Machine" }}
  {{ with site.Data.frose }}
    {{ partial "head/social-meta-tags.html" . }}
  {{ end }}
{{ else }}
  {{ partial "head/social-meta-tags-page.html" . }}
{{ end }}

<link rel="preconnect" href="https://kit.fontawesome.com">
<link rel="preconnect" href="https://cdn.jsdelivr.net/">

{{ partial "head/css.html" . }}
{{ partial "head/js.html" . }}
