{{ with site.Data.homepage.hero }}
  <main class="py-5 bg-dark text-white position-relative w-100 h-100 d-flex align-items-center w-100" style="min-height: 80vh;">
    <div class="w-100">
      {{ with .featured_image }}
        {{ $image := resources.Get . }}
        <img
          class="ag-bg-img"
          srcset='{{ ( $image.Fill "576x248 webp Center" ).RelPermalink }} 576w, {{ ( $image.Fill "768x330 webp Center" ).RelPermalink }} 768w, {{ ( $image.Fill "992x427 webp Center" ).RelPermalink }} 992w, {{ ( $image.Fill "1200x516 webp Center" ).RelPermalink }} 1200w, {{ ( $image.Fill "1400x602 webp Center" ).RelPermalink }} 1400w, {{ ( $image.Fill "1800x771 webp Center" ).RelPermalink }} 1800w'
          sizes="(max-width: 576px) 576px, (max-width: 768px) 768px, (max-width: 992px) 992px, (max-width: 1200px) 1200px, (max-width: 1400px) 1400px, 1800px"
          src='{{ ( $image.Fill "1800x771 webp Center" ).RelPermalink }}'
          alt=""
          style="filter: brightness(0.3)"
        />
      {{ end }}
      <div class="d-flex w-100 align-items-center justify-content-center position-relative text-center">
        <div class="container py-xl-5">
          <div class="row py-xl-5">
            <div class="col-lg-10 col-xl-9 mx-auto mt-7 mt-xl-5">
              <div class="p-xl-5 text-white">
                <div class="triple-deco-container h-100 mb-5">
                  <div class="triple-deco-content h-100">
                    <div class="px-2 px-xl-5 pt-5 pb-4 h-100 position-relative">
                      <h1 class="flapjack-regular display-3 lh-1 mb-3 mt-n1 pb-1 d-inline-block">{{ .heading }}</h1>
                    </div>
                  </div>
                  <div class="triple-deco-tall"></div>
                  <div class="triple-deco-mid"></div>
                  <div class="triple-deco-wide"></div>
                </div>
                {{ if .subheading }}
                  <p class="monograph-text-bold fs-2">{{ .subheading }}</p>
                {{ end }}
                <p class="lead mb-4 fs-5">{{ .lede }}</p>
                {{ if .cta }}
                  {{ range .cta }}
                    <a class="btn btn-outline-white ms-5" href="{{ .url }}">{{ .button_text }} <span class="fas fa-arrow-right"></span></a>
                  {{ end }}
                {{ end }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{{ end }}