{{ $align := "" }}
{{ with site.Data.homepage.hero }}
  {{ $image := resources.Get .featured_image }}
  {{ if eq .align "Right" }}
    {{ $align = "ms-auto" }}
  {{ end }}
  <main class="py-5 bg-dark text-white position-relative w-100 h-100">
    <img
      class="ag-bg-img"
      srcset='{{ ( $image.Fill "576x248 webp Center" ).RelPermalink }} 576w, {{ ( $image.Fill "768x330 webp Center" ).RelPermalink }} 768w, {{ ( $image.Fill "992x427 webp Center" ).RelPermalink }} 992w, {{ ( $image.Fill "1200x516 webp Center" ).RelPermalink }} 1200w, {{ ( $image.Fill "1400x602 webp Center" ).RelPermalink }} 1400w, {{ ( $image.Fill "1800x771 webp Center" ).RelPermalink }} 1800w'
      sizes="(max-width: 576px) 576px, (max-width: 768px) 768px, (max-width: 992px) 992px, (max-width: 1200px) 1200px, (max-width: 1400px) 1400px, 1800px"
      src='{{ ( $image.Fill "1800x771 webp Center" ).RelPermalink }}'
      alt=""
    />
    <div class="d-flex align-items-center position-relative">
      <div class="container py-5">
        <div class="row py-5">
          <div class="col-xl-7 {{ $align }}">
            <div class="p-5 border border-2 border-dark bg-cc-strawberry text-dark">
              <h1 class="flapjack-regular display-3 lh-1 mb-3 d-inline-block text-cc-accent--gold">{{ .heading }}</h1>
              {{ if .subheading }}
                <p class="monograph-text-bold fs-2">{{ .subheading }}</p>
              {{ end }}
              <p class="lead mb-4 fs-5 ms-xl-5">{{ .lede }}</p>
              {{ if .cta }}
                {{ range .cta }}
                  <a class="btn btn-outline-dark ms-5" href="{{ .url }}">{{ .button_text }} <span class="fas fa-arrow-right"></span></a>
                {{ end }}
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{{ end }}