<section aria-labelledby="hours-and-location-label">
  <div class="container-fluid">
    <div class="row">
      <h2 class="visually-hidden">Hours of Operation and Location</h2>
      <div class="col-xl-4">
        <div class="p-5">
          <h3 class="flapjack-regular">Come Visit Us</h3>
          <address>
            1234 University Ave.<br>
            Morgantown, WV 26505
          </address>
        </div>
      </div>
      <div class="col-xl-4">
        <h3 class="flapjack-regular">Contact Us</h3>
        <p>Need to make reservations? Need to host a private party or special event?</p>
        <p>Phone
          <br>Email
        </p>
        <p>Book Online</p>
      </div>
      <div class="col-xl-4">
        <h3 class="flapjack-regular">Catch Us on the Road</h3>
        <p>Schedule</p>
      </div>
    </div>
  </div>
</section>