<section aria-labelledby="hours-and-location-label" class="bg-dark text-white py-5">
  <div class="container position-relative">
    <h2 class="visually-hidden" id="hours-and-location-label">Hours of Operation, Contact Info and Food Truck Info</h2>
    <div class="row position-relative py-3 gx-xl-5">      
      {{ with site.Data.homepage.hours }}
        <div class="col-lg-4 mb-4 mb-lg-0">
          <div class="small h-100">
            <h3 class="h4 monograph-text-bold text-uppercase text-cc-strawberry cc-text-letter-spacing-2 mb-3">{{ .title }}</h3>
            <address class="ms-4 position-relative">
              <span class="fas fa-map-marker-alt text-cc-accent--gold position-absolute ms-n4"></span>
              {{ range .address }}
                <span class="d-block">{{ .address_line }}</span>
              {{ end }}
            </address>
            {{ if .map_link }}
              <p class="ms-4 mt-n2"><a class="text-cc-accent--gold" href="{{ .map_link }}">View on Map</a></p>
            {{ end }}
            <p class="ms-4 position-relative">
              <span class="fas fa-clock text-cc-accent--gold position-absolute ms-n4"></span>
              {{ range .hours }}
                <span class="d-block">{{ .hours_line }}</span>
              {{ end }}
            </p>
            {{ if eq .special_hours.show true }}
              <p class="p-1 bg-cc-accent--gold text-dark lh-1 mb-0">* {{ .special_hours.message }}</p>
            {{ end }}
          </div>
        </div>
      {{ end }}
      <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="small h-100">
          <h3 class="h4 monograph-text-bold text-uppercase text-cc-strawberry cc-text-letter-spacing-2 mb-3">Get Ahold of Us</h3>
          <p>Need to make <strong>reservations</strong>? Host a <strong>special event</strong>? Inquire about a <strong>job opening</strong> or <strong>event sponsorship</strong>?</p>
          <ul class="list-unstyled">
            <li class="ms-4"><span class="fas fa-phone text-cc-strawberry position-absolute ms-n4"></span> <a class="text-cc-accent--pink" href="tel:3042125464">(304) 212-5464</a></li>
            <li class="ms-4"><span class="fas fa-envelope text-cc-strawberry position-absolute ms-n4"></span> <a class="text-cc-accent--pink" href="mailto:orders@thecupcakerie.com">orders@thecupcakerie.com</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="small h-100">
          <h3 class="h4 monograph-text-bold text-uppercase text-cc-strawberry cc-text-letter-spacing-2 mb-1">Catch Us on the Road</h3>
          <p class="mb-3 monograph-text text-uppercase cc-text-letter-spacing-2 text-cc-accent--mojito"><span class="fa-light fa-truck"></span> Food Truck</p>
          <p class="text-cc-accent--pink flapjack-regular lh-1 mb-2">Next Stop:</p>
          <p>
            <strong>Moonlight Market</strong>
            <br>May 18, 2024 | 4PM - 9PM
            <br>Morgantown Marketplace Pavilion
            <br>400 Spruce Street
          </p>
        </div>
      </div>
    </div>
  </div>
</section>