<section aria-labelledby="hours-and-location-label" class="bg-cc-neutral--dark-chocolate text-cc-white-chocolate">
  <div class="container-fluid">
    <div class="row">
      <h2 class="visually-hidden">Hours of Operation and Location</h2>
      <div class="col-xl-4">
        <div class="row h-100">
          <div class="col-xl-8">
            <div class="p-5">
              <h3 class="flapjack-regular">Come Visit Us</h3>
              <address>
                3200 Collins Ferry Road<br>
                Morgantown, WV 26505
              </address>
              <p>
                <span class="fas fa-clock"></span> Sun. - Mon. 10AM - 2PM
                <br>Tues. - Sat. 10AM - 7PM
              </p>
              <p>Special Hours Toggle</p>
            </div>
          </div>
          <div class="col-xl-4 cc-stripes cc-stripes-neutral--vino">

          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="row h-100">
          <div class="col-xl-8">
            <div class="p-5">
              <h3 class="flapjack-regular">Get Ahold of Us</h3>
              <p>Need to make <strong>reservations</strong>? Host a <strong>special event</strong>? Inquire about a <strong>job opening</strong> or <strong>event sponsorship</strong>?</p>
              <ul class="list-unstyled">
                <li><span class="fas fa-phone"></span> (304) 212-5464</li>
                <li><span class="fas fa-envelope"></span> <a class="text-cc-accent--pink" href="mailto:orders@thecupcakerie.com">orders@thecupcakerie.com</a></li>
              </p>
            </div>
          </div>
          <div class="col-xl-4 cc-stripes cc-stripes-neutral--vino">

          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="row h-100">
          <div class="col-xl-8">
            <div class="p-5">
              <h3 class="flapjack-regular">Catch Us on the Road</h3>
              <p class="text-cc-accent--pink flapjack-regular lh-1 mb-2">Next Stop:</p>
              <p>
                <strong>Moonlight Market</strong>
                <br>May 18, 2024 | 4PM - 9PM
                <br>Morgantown Marketplace Pavilion
                <br>400 Spruce Street
              </p>
            </div>
          </div>
          <div class="col-xl-4 cc-stripes cc-stripes-neutral--vino">

          </div>
        </div>
      </div>
    </div>
  </div>
</section>