<section class="py-5">
  <div class="container-fluid mb-5">
    <h2 class="text-center">Local Favorites</h2>
    <div class="triple-diamond-deco-container container mt-4 mb-5">
      <div class="left-line"></div>
      <div class="right-line"></div>
      <div class="small-diamond-left"></div>
      <div class="small-diamond-right"></div>
      <div class="large-diamond"></div>
    </div>
    <div class="row gx-5 justify-content-center">
      <div class="col-xl-2 d-flex align-items-center">
        <img class="img-fluid" src="/img/mon-valley-mushrooms.webp" alt="Mon Valley Mushrooms logo" />
      </div>
      <div class="col-xl-2 d-flex align-items-center">
        <img class="img-fluid" src="/img/hawthorne-logo.webp" alt="Hawthorne Valley Farms logo" />
      </div>
    </div>
  </div>
</section>