{{ $pageTitle := .Page.Title }}
<nav class='navbar navbar-expand-lg navbar-dark {{ if eq .Page.Title "Home" }}fixed-top{{ else }}sticky-top bg-cc-strawberry border-bottom border-2 border-cc-accent--gold{{ end }}'>
  <div class="container d-flex justify-content-center">
    {{ if eq .Page.Title "Home" }}
      <a class="navbar-brand py-3 mt-n1" href="/"><div class="cc-logo-switch"></div><span class="visually-hidden">{{ site.Title }}</span></a>
    {{ else }}
      <a class="navbar-brand py-3 mt-n1" href="/"><img loading="lazy" src="/cupcakerie-placeholder.svg" width="200px" alt="The Cupcakerie Logo" /><span class="visually-hidden">{{ site.Title }}</span></a>
    {{ end }}
    <button class="navbar-toggler w-100 flapjack-regular py-2 mb-2 text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span> Menu
    </button>
    <div>
      <div class="collapse navbar-collapse d-xl-flex justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 flapjack-regular fs-5 me-4">
          {{- with site.Data.settings.site_menu }}
            {{- range . }}
              <li class="nav-item">
                <a class='nav-link {{ if ne .Page.Title "Home" }}text-dark{{ end }} {{ if eq $pageTitle .menu_item }}border-bottom border-2 border-cc-accent--gold{{ end }}' href="{{ .url }}">{{ .menu_item }}</a>
              </li>
            {{- end }}
          {{ end }}
        </ul>
        <ul class="list-inline mb-0">
          {{ with site.Data.settings.social_media_accounts }}
            {{ range . }}
              <li class="list-inline-item"><a href="{{ .url }}" {{ if ne .Page.Title "Home" }}class='text-dark'{{ end }}><span class="fab fa-{{ .icon_code }}"></span><span class="visually-hidden"> The Cupcakerie on {{ .platform }}</span></a></li>
            {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</nav>