<nav class="navbar navbar-expand-xl navbar-light bg-cc-strawberry sticky-top border-bottom border-2 border-cc-accent--gold">
  <div class="container">
    <button class="navbar-toggler w-100 supa-mega-fantastic-caps py-2 mb-2 text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span> Menu
    </button>
    <div class="collapse navbar-collapse d-xl-flex justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-xl-0 supa-mega-fantastic-caps fs-5 me-4">
        {{- with site.Data.settings.site_menu }}
          {{- range . }}
            <li class="nav-item">
              <a class="nav-link text-dark" href="{{ .url }}">{{ .menu_item }}</a>
            </li>
          {{- end }}
        {{ end }}
      </ul>
      <ul class="list-inline mb-0">
        {{ with site.Data.settings.social_media_accounts }}
          {{ range . }}
            <li class="list-inline-item"><a href="{{ .url }}" class="text-dark"><span class="fab fa-{{ .icon_code }}"></span><span class="visually-hidden"> The Cupcakerie on {{ .platform }}</span></a></li>
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</nav>