{{ $image := "" }}
{{ with site.Data.private_events }}
  <main class="py-5">
    <div class="container mb-5">
      <h1 class="text-center flapjack-regular display-1 mb-4">{{ .title }}</h1>
      <div class="row justify-content-center fs-5 gx-5 mt-5">
        <div class="col-lg-8 col-xl-6 mx-auto">
          <form name="Order" action="/order-success" method="POST" data-netlify="true">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Name <span class="text-danger"><sup>*</sup></span></label>
              <input type="email" class="form-control" id="name">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Phone <span class="text-danger"><sup>*</sup></span></label>
              <input type="email" class="form-control" id="phone">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email Address <span class="text-danger"><sup>*</sup></span></label>
              <input type="email" class="form-control" id="email">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Let Us Know What You Need</label>
              <textarea class="form-control" id="order" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-dark mb-3">Submit</button>
            <p class="mt-5"><span class="text-danger"><sup>*</sup></span> Required</p>
          </form>
        </div>
      </div>
    </div>
  </main>
{{ end }}