{{ with site.Data.homepage.products }}
  <section class="py-5">
    <div class="container">
      <h2>{{ .title }}</h2>
      <p>{{ .description }}</p>
      <div class="row gx-4">
        {{ range .products }}
          {{ $image := resources.Get .photo }}
          <div class="col-xl-6 mb-4">
            <div class="border border-2 border-dark">
              <div class="row gx-0">
                <div class="col-xl-6">
                  <img class="w-100" src='{{ ( $image.Fill "960x640 Center" ).RelPermalink }}' />
                </div>
                <div class="col-xl-6 d-flex align-items-center p-4">
                  <div>
                    <h3 class="flapjack-regular">{{ .title }}</h3>
                    <p>{{ .description }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}