{{ with site.Data.homepage.products }}
  <section class="pb-5" aria-labelledby="products-label">
    <div class="cc-pattern cc-pattern-tint cc-pattern-accent--gold py-5">
      <div class="container pt-5 pb-4 position-relative">
        <div class="row mb-5 text-center">
          <div class="col-xl-6 mx-xl-auto">
            <h2 class="flapjack-regular display-1 lh-1 mb-4" id="products-label">{{ .title }}</h2>
            <p class="fs-5"><span class="p-2 bg-dark text-white">{{ .description }}</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row gx-4 mt-n5 position-relative">
        {{ range .products }}
          {{ $image := resources.Get .photo }}
          <div class="col-xxl-6 mb-4">
            <div class="border border-2 border-dark bg-cc-strawberry">
              <div class="row gx-0">
                <div class="col-lg-6">
                  <img loading="lazy" class="img-fluid" src='{{ ( $image.Fill "960x640 webp Center" ).RelPermalink }}' alt="Photo of {{ .title }}" />
                </div>
                <div class="col-lg-6 d-flex align-items-center p-4">
                  <div>
                    <h3 class="flapjack-regular mb-3">{{ .title }}</h3>
                    <p>{{ .description }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}