{{ with .site.Data.homepage.specials }}
  <section class="py-5">
    <div class="container">
      <div class="me-5 mt-n5 pb-5">
        <div class="ratio ratio-21x9 bg-cc-neutral--mocha" style="background-image: url(''); background-size: cover;">
          <div class="m-4 p-5 bg-light border border-2 border-dark">
            <div class="row">
              <div class="col-xl-5 bg-cc-accent--pink">
                <div class="py-4 pe-5 me-n5 bg-cc-accent--pink">
                  <h2 class="display-2 monograph-text-bold lh-1">{{ .heading }}</h2>
                </div>
                <ul class="fs-3 list-unstyled">
                  {{ range .details }}
                    <li>{{ .line }}</li>
                  {{ end }}
                </ul>
              </div>
              <div class="col-xl-7">

              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}