{{ with site.Data.homepage.specials }}
  {{ $image := resources.Get .photo }}
  <section class="py-4" aria-labelledby="specials-label">
    <div class="container mb-5">
      <div class="bg-cc-strawberry-tint py-xxl-4 ps-xxl-4 pe-xxl-4 ms-xxl-n5">
        <div class="bg-cc-accent--gold pattern-3 mt-xxl-n5 me-xxl-n5">
          <div class="row mx-0 h-100">
            <div class="col-xl-5 position-relative d-flex align-items-center">
              <div>
                <p class="ms-4 mt-5 text-white asfallt-regular px-4 fs-4 monograph-text-bold cc-text-letter-spacing-2 text-uppercase">Don’t Miss Out</p>
                <div class="p-4 ms-4 me-xl-n5 bg-cc-accent--frose text-white z-index-1">
                  <h2 class="asfallt-regular display-4 monograph-text-bold lh-1" id="specials-label">{{ .heading }}</h2>
                </div>
                <div class="p-4 d-flex justify-content-end">
                  <ul class="d-inline-block fs-3 list-unstyled me-xxl-n5 z-index-1 asfallt-regular">
                    {{ range .details }}
                      <li class="mb-2"><span class="p-2 bg-cc-accent--mojito">{{ .line }}</span></li>
                    {{ end }}
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-7 position-relative" style="background-image: url('{{ ( $image.Fill "1200x800 webp Center" ).RelPermalink }}'); background-size: cover;">
              <div class="ratio ratio-4x3">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}