<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
  {{- $bootstrap := resources.Get "js/vendor/bootstrap/bootstrap.bundle.min.js" }}
  <head>
    {{ partial "head.html" . }}
  </head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-P5088ZQBR4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-P5088ZQBR4');
  </script>
  <body class="bg-cc-strawberry monograph-text-regular {{ .Page.Title | urlize }}">

    {{ partial "menu-alt.html" . }}

    {{ if ne .Page.Title "Home" }}
      {{ partial "breadcrumbs.html" . }}
    {{ end }}

    {{ block "main" . }}{{ end }}

    {{ partial "footer.html" }}

    <script type="application/javascript" src="{{ $bootstrap.Permalink }}"></script>

    {{ if eq .Page.Title "Home" }}
      <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", (user) => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>

      <script>
        let scrollpos = window.scrollY
        const header = document.querySelector(".navbar")
        const header_height = 1
      
        const add_class_on_scroll = () => header.classList.remove("navbar-dark")
        const remove_class_on_scroll = () => header.classList.add("navbar-dark")
      
        window.addEventListener('scroll', function() { 
          scrollpos = window.scrollY;
      
          if (scrollpos >= header_height) { add_class_on_scroll(); }
          else { remove_class_on_scroll(); }
      
          console.log(scrollpos)
        })
      </script>
    {{ else }}
      <script>
        let scrollpos = window.scrollY
        const header = document.querySelector(".navbar")
        const header_height = 1
      
        const add_class_on_scroll = () => header.classList.add("shrink-nav")
        const remove_class_on_scroll = () => header.classList.remove("shrink-nav")
      
        window.addEventListener('scroll', function() { 
          scrollpos = window.scrollY;
      
          if (scrollpos >= header_height) { add_class_on_scroll(); }
          else { remove_class_on_scroll(); }
      
          console.log(scrollpos)
        })
      </script>
    {{ end }}

    {{ if or (eq .Page.Title "Menu") (eq .Page.Title "Drinks") (eq .Page.Title "Catering") }}
      <script>
        window.addEventListener('load', () => {
          let url = window.location.href;
          if (url.includes('?menu=')) {
            let myUrl = window.location.href.split('?menu=').pop();
            let matchingTab = document.querySelector('#' + myUrl + '-tab');
            let matchingPane = document.querySelector('#' + myUrl);
            let activeTab = document.querySelector('#food-tabs .active');
            let activePane = document.querySelector('.tab-content .active');
            if (matchingTab.ariaSelected !== 'true') {
              activeTab.ariaSelected = "false";
              activeTab.classList.remove('active');
              activePane.classList.remove('active');
              activePane.classList.remove('show');
              matchingTab.ariaSelected = "true";
              matchingTab.classList.add('active');
              matchingPane.classList.add('active');
              matchingPane.classList.add('show');
            };
          }
        });

        const menuButtons = document.querySelectorAll('#food-tabs .nav-link');

        menuButtons.forEach((el) => {
          el.addEventListener('click', e => {
            // Construct URLSearchParams object instance from current URL querystring.
            var queryParams = new URLSearchParams(window.location.search);
            let myValue = el.id
            let newValue = myValue.replace('-tab','');
            // Set new or modify existing parameter value. 
            queryParams.set("menu", newValue);
            // Replace current querystring with the new one.
            history.pushState(null, null, "?"+queryParams.toString());
          });
          el.addEventListener('shown.bs.tab', e => {
            var elem = document.querySelector('.tab-pane.active');
            var msnry = new Masonry( elem, {
              // options
              itemSelector: '.menu-section'
            });
            console.log('Shown Active');
          });
        });

        window.addEventListener('load', () => {
          var elem = document.querySelector('.tab-pane.active');
          var msnry = new Masonry( elem, {
            // options
            itemSelector: '.menu-section'
          });
          console.log('Shown Active');
        });

      </script>
    {{ end }}
  </body>
</html>
