{{ define "main" }}
<main class="py-5">
  <div class="container mb-5">
    <div class="col-xl-6 mx-xl-auto">
      <h1 class="supa-mega-fantastic-caps display-1 text-center mb-5">{{ .Title }}</h1>
      {{ range .Pages }}
        <div class="mb-5">
          <h2 class="h1 supa-mega-fantastic-caps"><a class="text-decoration-none text-dark" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
          <p>
            {{ .Summary }}
          </p>
          <a class="text-dark" href="{{ .RelPermalink }}">Read More<span class="visually-hidden">: {{ .LinkTitle }}</span></a>
        </div>
      {{ end }}
    </div>
  </div>
</main>
{{ end }}
